/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Generelt*/
* {
    box-sizing: border-box
}

/*Menu1*/
nav {
    width: 100%;
    z-index: 1;
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    flex-direction: row-reverse;
}

.navbar_links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links li {
    list-style: none;
    min-width: 70px;
    max-width: 70px;
    min-height: 75px;

}

.navbar_links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    text-align: center;
}

.navbar_links li:hover {
    background-color: #555;
}

.dropdownmenu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.dropdownmenu .bar {
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 10px;
}



/*Logo*/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;

}

.logo {


    max-height: 49, 17px;
    max-width: 140px;

}

/*Sprog og Dropmenu 2*/
.nav_right {
    width: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_dropbtn {
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
    height: 75px;
    text-align: center;
}

.nav_drop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav_dropmenu {
    position: relative;
    display: inline-block;
}

#nav_dropleft {
    right: 0%;
}

.nav_dropmenu_content {
    display: none;
    position: absolute;
    background-color: #555;
    width: 100px;
    box-shadow: -5px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.nav_dropmenu_content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav_dropmenu_content a:hover {
    background-color: #999;
}

.nav_dropmenu:hover .nav_dropmenu_content {
    display: block;
}

.nav_dropmenu:hover .nav_dropbtn {
    background-color: #555;
}

.material-icons {
    font-size: 2rem;
}

.nav_lan_img {
    height: 30px;
    width: 50px;
}

.nav_lan_p {
    font-size: 20px;
}

/*Footer*/
.footer_box {
    list-style: none;
    background-color: #333;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_head {
    font-size: 1rem;
}

.footer_content {
    color: orange;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer_icon {
    width: 44px;
    margin: 0px 5px;
}

.footer_links {
    text-decoration: none;
    color: orange;
    display: block;
    font-size: 0.9rem;
}

.Footer_header {
    margin: 0px 0px 20px 0px;
}

.footer_links:hover {
    color: rgb(184, 120, 0);
}

/* nyt til shop side herfra og ned*/
.item1 {
    grid-area: header;
    height: 40px;
    border-bottom: 2px #1c1c1d;
    border-style: solid;
    margin-top: 10px;
}

.item2 {
    grid-area: main;
   min-width:300px;
  
   max-width: 700px;
   
}



.item4 {
    grid-area: right;
    display:flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    background-color: white;
    max-height: 800px;
    min-width:300px ;
    max-width: 700px;
    margin: 5% 0 0 5%;
}

.item5 {
    grid-area: footer;
    position: relative;
    border: 5px #1c1c1d;
    border-style: solid;
    background-color: rgba(203, 198, 198, 0.494);
    max-width: 1250px;
    max-height:420px;
   
    margin: 7% 15% 3% 15%;
    


}

.grid-container {
    display: grid;
    grid:
        'header header header header header header'
        '. main main right right .'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container>div {

    text-align: center;
    padding: 0px 0;
    font-size: 30px;
}

.flex_extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.flex_extra1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex_extra2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.extrabillede {
    width: 20%;
    margin: 10px;
    border-radius: 25%;
    border: 3px #1c1c1d;
    border-style: solid;
    max-height: 150px;
    max-width:225px ;
    min-width: none;
}

#produkt_text {
    font-size: 1.3rem;
    font-family: 'Comfortaa', cursive;
    border: 3px #1c1c1d;
    border-style:solid ;
    margin-top: 5% ;
    border-radius: 7%;
    min-width: 300px;
    padding-bottom: 5%;
}

.custom_billede {
    width: 100%;
    max-width: 550px;
    min-width:300px;

margin-top: 0.3rem;
}

.købknap {
    width:100%;
    height: 100px;
    border: 2px #333;
    border-style: solid;
    background-color: orange;
    box-shadow: 0px 5px 5px 0px #333;
    font-size: 5.2rem;
    
    margin-top: 1%;
    min-width: 300px;
    max-width: 650px;
}

.flex_main {
display: flex;
height: 17rem;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 3rem;


}

.produkt_main_billede {
    width: 100%;
    max-width: 550px;
    min-width:300px;
    border: 5px #1c1c1d;
    border-style: solid;
}

.knapper {
    
    max-width: 50px;

    min-width: 25px;
    min-height: 25px;
    align-self: center;
}

.pris {
    width: 100%;
    height: 90px;
    border: 2px #333;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px #333;
    font-size: 3.1rem;
    min-width: 300px;
    max-width: 650px;
    margin-top: 3%;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

/* nyt til shop side hertil og noget længere nede*/

@media (max-width: 600px) {

    /*Navigation*/
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {

        position: absolute;
        top: 2%;
        left: 35%;
    }

    .dropdownmenu {
        display: flex;
        flex-direction: column;

    }

    .navbar_links {
        display: none;
        width: 100%;
    }

    .navbar_links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar_links li {
        text-align: center;
        font-size: 1.4rem;
        position: relative;
        top: 3%;
        max-width: 390px;
        min-width: 390px;
        height: 65px;
        border: 1px rgb(86, 56, 0);
        border-style: solid;

    }

    .navbar_links li a {
        padding: 0.5rem 1rem;
    }

    .navbar_links.active {
        display: flex;
    }

    /*Footer*/
    .footer_box {
        /*position: absolute;*/
        bottom: 0;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .footer_links {
        display: block;
        font-size: 0.8rem;
    }

    .Footer_header {
        margin: 0 10px;
    }
    
/* nyt til shop side herfra og ned*/
    .grid-container {
        display: grid;
        grid:
            'header header header header header header'
            '. main main main main .'
            '. right right right right .'
            'footer footer footer footer footer footer';
        grid-gap: 10px;
        background-color: #ffffff;
        padding: 10px;
    
    }

    .item4 {
        flex-direction: column-reverse;

    }

    .item2 {
        margin-bottom: 300px;
    }

    .item5 {
        max-width: 500px;
        max-height: 1300px;
    }
   
    .flex_extra1 {
        flex-direction: column;
        max-width: 395px;
        align-items: center;
    }
    .flex_extra2 {
        flex-direction: column;
        max-width: 395px;
        align-items: center;
    }
    .knapper {
        display:none;
    }
    .extrabillede {
       min-width: 200px;
       margin-left:0%;
    }
}







@media screen and (max-width: 900px) {
    .købknap {
        font-size: 3rem;
        height: 70px;
    }

    .pris {
        font-size: 2.5rem;

    }
    
    #produkt_text {
        font-size: 1rem;
    }
    
    .extrabillede {
        margin: 2px 2px 2px 2px;
    }
   .item2 {
    max-height: 600px;
   }

   .item4 { 
    max-height: 600px;
    
}

}
@media (max-width: 450px) {

    .item2 {
        margin-top: 0%;
        margin-bottom: 220px;
    }
    h1.titletext {
        font-size: 25px;
    }
}

@media (max-width: 376px) {

    .item2 {
        margin-bottom: 130px;
    }

}
**/
